@font-face {
  font-family: "Myriad pro";
  src: url("../fonts/myriadpro-cond.woff");
  font-weight: 400;
  font-style: normal;
  font-stretch: condensed;
}

@font-face {
  font-family: "Myriad pro";
  src: url("../fonts/myriadpro-regular.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Myriad pro";
  src: url("../fonts/myriadpro-bold.woff");
  font-weight: 700;
  font-style: normal;
}

body {
  width: 1200px;
  margin: 0 auto;

  font-family: "Myriad pro", "Arial", sans-serif;
  font-size: 15px;
  line-height: 29px;
  font-weight: 400;
}

.main-container {
  width: 960px;
  margin: 0 auto;
}

.container {
  width: 768px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  
  border: 0;
  
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  display: inline-block;
  padding: 15px 50px;

  font-family: "Rokkitt", "Georgia", serif;
  font-size: 24px;
  line-height: 1em;
  vertical-align: top;

  background-color: #1abc9c;
  box-shadow: 0 0 0 6px rgba(26, 188, 156, .6);
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
}

.main-header {
  position: relative;

  min-height: 460px;
  margin-bottom: 150px;
  padding-bottom: 40px;

  text-align: center;
  color: #ffffff;

  background: #e4c5c1 url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.main-navigation {
  padding-top: 55px;
  margin-bottom: 140px;

  font-family: "Myriad pro", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 400;
  font-stretch: condensed;
}

.main-navigation .main-container {
  position: relative;
}

.main-navigation .logo {
  float: left;

  width: 480px;

  text-align: left;
}

.main-navigation ul {
  float: right;

  width: 480px;
  margin: 0;
  padding: 0;

  list-style: none;
  text-align: right;
}

.main-navigation li {
  display: inline-block;
  margin-right: 30px;
  
  vertical-align: top;
}

.main-navigation li:last-child {
  margin-right: 0px;
}

.main-navigation li.current {
  text-transform: uppercase;
  color: #1abc9c;
}

.main-navigation li a:hover {
  border-bottom: 1px solid #ffffff;
}

.main-header h1 {
  position: relative;

  display: inline-block;
  margin: 0;
  margin-bottom: 25px;
  padding: 0 40px;

  font-family: "Rokkitt", "Georgia", serif;
  font-size: 60px;
  line-height: 1.33em;
  font-weight: 400;
  text-align: center;
  vertical-align: top;
}

.main-header h1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 1px;

  background-color: #ffffff;
}

.main-header h5 {
  font-family: "Quicksand", "Arial", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.33em;
  text-align: center;
}

.main-header .btn {
  position: absolute;
  bottom: 0;
  left: 50%;

  transform: translate(-50%, 50%);
}

.introduction {
  margin-bottom: 70px;

  font-size: 18px;
  font-family: "Myriad pro", "Arial", sans-serif;
  text-align: center;
}

.introduction h3 {
  margin-bottom: 50px;

  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: -0.016em;
  word-spacing: 10px;
  font-weight: 700;
  color: #1abc9c;
}

.introduction p {
  margin: 0;

  color: #95a5a6;
  font-size: 1em;
  letter-spacing: 0.5px;
  word-spacing: 2px;
}

.skills {
  display: flex;
  justify-content: space-between;
  margin-bottom: 75px;
  padding-bottom: 65px;

  border-bottom: solid 1px #e4e8e8;
}

.skills-description {
  width: 250px;
  text-align: justify;
  font-size: 15px;
  font-family: "Myriad pro", "Arial", sans-serif;
}

.skills-icon {
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
}

.skills-description h5 {
  margin: 0;
  margin-bottom: 30px;

  font-size: 20px;
  font-weight: bold;
  font-family: "Myriad pro", "Arial", sans-serif;
  text-align: center;
  color: #1abc9c;
}

.skills-description p {
  margin: 0;

  color: #95a5a6;
  letter-spacing: -.016em;
  text-align: justify;
}

.portfolio {
  padding-bottom: 75px;
  margin-bottom: 70px;
  border-bottom: solid 1px #e4e8e8;
}

.portfolio figure {
  margin: 0;
  margin-bottom: 20px;
}

.portfolio-image {
  position: relative;
  width: 400px;
  height: 300px;
  margin-bottom: 55px;
  font-size: 15px;
}

.portfolio-image:nth-child(1) {
  background: #ddd url("../img/image-1.jpg");
}

.portfolio-image:nth-child(2) {
  background: #ddd url("../img/image-2.jpg");
}

.portfolio-image:nth-child(3) {
  background: #ddd url("../img/image-3.jpg");
}

.portfolio-image:nth-child(4) {
  background: #ddd url("../img/image-4.jpg");
}

.portfolio-image:nth-child(2n-1) {
  float: left;
}

.portfolio-image:nth-child(2n) {
  float: right;
}

.portfolio-image::before {
  content: "";
  position: absolute;
  z-index: 1;

  width: 400px;
  height: 300px;

  background-color: rgba(224, 183, 181, 0.5);
}

.portfolio-image-container {
  position: absolute;
  z-index: 2;

  width: 100%;
  height: 100%;

  opacity: 0;
}

.portfolio-image a {
  position: absolute;
  top: 26px;
  right: 26px;

  display: block;
  width: 44px;
  height: 44px;

  background: #1abc9c url("../img/gallary-view-button.svg") no-repeat center;
  box-shadow: 0 0 0 6px rgba(26, 188, 156, .6);
  opacity: 1;
}

.portfolio-image-title {
  position: absolute;
  left: 0;
  bottom: 0;

  box-sizing: border-box;
  width: 100%;
  padding: 20px;

  background-color: #1abc9c;
  box-shadow: 0 -6px 0 0 rgba(26, 188, 156, .6);
}

.portfolio-image-title h4 {
  margin: 0;

  font-family: "Rokkitt", "Georgia", serif;
  font-size: 2em;
  font-weight: 400;
  color: #ffffff;
}

.portfolio-image-title p {
  margin: 0;

  font-family: "Myriad pro";
  font-size: 1em;
  letter-spacing: -.016em;
  word-spacing: 3px;
  color: #297465;
}

.portfolio-image-container:hover {
  opacity: 1;
}

.portfolio-image:hover::before {
  background: none;
}

.portfolio .btn {
  position: relative;

  display: block;
  width: 140px;
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 70px;

  box-shadow: none;
}

.portfolio .btn::before {
  content: "";
  position: absolute;
  right: 37px;
  top: 22px;

  width: 12px;
  height: 10px;

  background-color: #ffffff;
}

.portfolio .btn::after {
  position: absolute;
  content: "";
  right: 25px;
  top: 15px;

  width: 0;
  height: 0;

  border-left: 12px solid #ffffff;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
}

.contact {
  margin-bottom: 115px;
}

.contact h2 {
  margin: 0;
  margin-bottom: 65px;

  font-family: "Rokkitt", "Georgia", serif;
  font-size: 60px;
  line-height: 60px;
  font-weight: 400;
  text-align: center;
  color: #1abc9c;
}

.contact form > * {
  box-sizing: border-box;
  padding: 0;
  padding-left: 30px;
  margin: 0;

  font-family: "Rokkitt", "Georgia", serif;
  font-size: 30px;
  line-height: 1.33em;
  color: #cecece;

  background-color: #e4e8e8;
  border: none;
}

.contact input {
  width: 370px;
  height: 70px;
  margin-bottom: 28px;
}

.contact input:first-child {
  margin-right: 23px;
}

.contact textarea {
  width: 100%;
  height: 250px;
  padding-top: 25px;
}

.social {
  position: relative;

  display: flex;
  justify-content: space-between;
  height: 24px;
}

.social a {
  width: 88px;
  height: 88px;
  margin: 0 6px;

  box-shadow: 0 0 0 6px rgba(26, 188, 156, .6);
}

.social-twitter {
  background: #ffffff url("../img/twitter.svg") no-repeat center;
}

.social-facebook {
  background: #ffffff url("../img/facebook.svg") no-repeat center;
}

.social-dribbble {
  background: #ffffff url("../img/dribbble.svg") no-repeat center;
}

.footer {
  min-height: 20px;
  padding-top: 144px;
  padding-bottom: 75px;

  font-family: "Rokkitt", "Georgia", serif;
  font-size: 24px;
  color: #ffffff;

  background-color: #1abc9c;
}

.footer-copy {
  float: left;

  font-weight: 400;
}

.footer-studio {
  float: right;

  text-transform: none;
}