body {  
  width: 1200px;
  margin: 0 auto;  
}

.main-container {
  width: 960px;
  margin: 0 auto;
}

.container {
  width: 768px;
  margin: 0 auto;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;  
}

.main-header {
  position: relative;
  background: #e4c5c1 url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-position: top;
  height: 500px;
  margin-bottom: 150px;
  color: white; 
}

.main-navigation {
  font-family: "Myriad pro", sans-serif;
  font-size: 20px;    
  font-weight: 400;
  padding-top: 55px;
  margin-bottom: 140px;
}

.main-navigation .logo {
  float: left;
  width: 480px;  
}

.main-navigation ul {
  float: right;
  width: 480px;   
  margin: 0;
  padding: 0;
  list-style: none;  
  text-align: right; 
}

.main-navigation li {
  display: inline-block;
  margin-right: 30px;
}

.main-navigation li:last-child {
  margin-right: 0px;
}

.main-header h1, h5 {
  margin: 0;
  text-align: center;
}

.main-header h1  {  
  position: relative;
  font-family: "Rokkitt", serif;
  font-size: 60px;  
  font-weight: 400;
  margin-bottom: 25px;   
}

.main-header h1::before {
  position: absolute;
  top: 75px;
  left: 170px;
  content: "";
  width: 614px;
  height: 1px;
  background-color: white;
}

.main-header h5 {  
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 22px;  
}

.btn {
  font-family: "Rokkitt", sans-serif;
  font-size: 24px;
  line-height: 1em;
  background-color: #1abc9c;
  padding: 15px 50px;
  box-shadow: 0 0 0 8px rgba(26,188,156, .6);
}

.main-header .btn {
  display: inline-block;
  position: absolute;
  top: 473px;   /* 500 - 15 - 24/2 */
  left: 490px ; /* (1200-100-120)/2 */
  
  
}

.introduction {
  margin-bottom: 70px;
  text-align: center;
  font-size: 18px;
  font-family: "Myriad pro", sans-serif;
}

.introduction h3 {  
  font-size: 2em;
  text-transform: uppercase;
  word-spacing: 10px;
  font-weight: 700;
  color: #1abc9c;  
  margin-bottom: 50px;
}

.introduction p {
  color: #95a5a6;
  font-size: 1em;
  line-height: 29px;
  letter-spacing: 0.5px;
  word-spacing: 2px;
  margin: 0;
}

.skills {
  padding-bottom: 65px;
  border-bottom: solid 1px #e4e8e8;
  margin-bottom: 75px;
}

.skills-icons {  
  margin-bottom: 30px;  
}

.skills-icons, .skills-flex {
  display: flex;
  justify-content: space-between;
}

.skills-description {  
  width: 250px;
  text-align: justify;
  font-size: 15px;
  font-family: "Myriad pro", sans-serif;
}

.skills-description h5 {
  font-size: 1.33em;
  font-weight: bold;
  font-family: "Myriad pro", sans-serif;
  margin-bottom: 30px;  
  color: #1abc9c;
}

.skills-description p {
  color: #95a5a6;
  line-height: 29px;
  letter-spacing: .5px;
  margin: 0;
}

.portfolio {
  padding-bottom: 75px;
  margin-bottom: 70px;  
  border-bottom: solid 1px #e4e8e8;
}

.portfolio figure {
  margin: 0;
  margin-bottom: 20px;  
}

.portfolio-image {
  position: relative;  
  width: 400px;
  height: 300px;
  margin-bottom: 55px;
  font-size: 15px;    
}

.portfolio-image:nth-child(1) {
  background: url("../img/image-1.jpg");
}
.portfolio-image:nth-child(2) {
  background: url("../img/image-2.jpg");
}
.portfolio-image:nth-child(3) {
  background: url("../img/image-3.jpg");
}
.portfolio-image:nth-child(4) {
  background: url("../img/image-4.jpg");
}


.portfolio-image:nth-child(2n-1) {
  float: left;
}

.portfolio-image:nth-child(2n) {
  float: right;
}

.portfolio-image::before {
  position: absolute;
  z-index: 1;
  content: "";
  width: 400px;
  height: 300px;
  background-color: rgba(224,183,181, 0.5);
}

.portfolio-image-container {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.portfolio-image a {
  display: block;
  position: absolute;  
  top: 26px;
  right: 26px;
    
  width: 44px;
  height: 44px;  
  background: #1abc9c url("../img/gallary-view-button.svg") no-repeat center;
  box-shadow: 0 0 0 6px rgba(26,188,156, .6);
  opacity: 1;
}

.portfolio-image-title {
  position: absolute;
  left: 0;
  bottom: 0;
  
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  background-color: #1abc9c;
  box-shadow: 0 -6px 0 0 rgba(26,188,156, .6);
}

.portfolio-image-title h4 {
  margin: 0;
  font-family: "Rokkitt", serif;
  font-size: 2em;
  font-weight: 400;
  color: white;
}

.portfolio-image-title p {
  margin: 0;
  font-family: "Myriad pro";
  font-size: 1em;
  letter-spacing: 1px;
  word-spacing: 3px;
  color: #297465;
}

.portfolio-image-container:hover {
  opacity: 1;
}

.portfolio-image:hover::before {
  background: none;  
}

.portfolio a.btn {
  display: block;
  width: 140px;
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 70px;
  box-shadow: none;
}

.contact {
  margin-bottom: 126px;
}

.contact h2 {
  text-align: center;
  font-family: "Rokkitt", sans-serif;
  font-size: 60px;
  font-weight: 400;
  color: #1abc9c;
  margin-bottom: 70px;  
}

.contact form > * {
  box-sizing: border-box;
  padding: 0;
  padding-left: 30px;
  margin: 0;
  
  font-family: "Rokkitt", sans-serif;
  font-size: 30px;
  color: #cecece;
  background-color: #e4e8e8;
  border: none;
}

.contact input {
  width: 370px;
  height: 70px;  
  margin-bottom: 28px;
}

.contact input:first-child {
  margin-right: 23px ;
}

.contact textarea {
  width: 100%;
  height: 250px;
  padding-top: 25px;
}

.social {
  min-height: 30px;
}
.social a {
  
  float: left;
  margin-right: 225px
}
.social a:last-child {
  margin-right: 0;
}

.footer {
  padding-top: 145px;
  padding-bottom: 75px;
  background-color: #1abc9c;
  background-position: bottom;  
}

.footer b {
  display: block;
  float: left;
}
.footer .studio {
  float: right;
}

